//
//  secrets.template.xcconfig
//  Atlas
//
//  Created by Franklin Byaruhanga on 04/02/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// TODO: Update these secrets as appropriate in the non-template files.
// These will be injected at runtime.
// rename this file from secrets.template.xcconfig to secrets.xcconfig

// The key used to authenticate against openweathermap
API_KEY =
